<template>
    <div>

    </div>
</template>

<script>
  export default {
    name: 'FieldSample',
    components: {

    },
    props:['value'],
    data() {
      return {

      }
    },
    created() {

    },
    mounted() {

    },
    methods: {
      updateParent() {
        this.$emit('update');
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>

<style lang="scss">

</style>
