<template>
    <el-form-item :label="field.title">
        <el-input v-model="field.value" @change="updateField"></el-input>
    </el-form-item>
</template>

<script>
  export default {
    name: 'FieldText',
    components: {

    },
    props:['field'],
    data() {
      return {

      }
    },
    created() {

    },
    mounted() {

    },
    methods: {
      updateField() {
        this.$emit('update', this.field);
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>

<style lang="scss">

</style>
