<template>
    <div class="gallery">
        <draggable v-model="images" v-if="images.length" @end="updateGallery" class="el-upload-list--picture-card gallery__items">
            <div v-for="(image, i) in images" class="gallery__item my-4">
                <div class="el-upload-list__item is-success">
                    <img :src="'/'+image.url" :alt="image.title" class="el-upload-list__item-thumbnail">
                    <div class="el-upload-list__item-actions">
                        <span
                            class="el-upload-list__item-preview" @click="handlePictureCardPreview(i)"><i class="el-icon-zoom-in"></i></span>
                        <span class="gallery__item-edit" @click="editImage(i)"><i class="el-icon-edit"></i></span>
                        <span class="gallery__item-delete" @click="handleRemove(i)"><i class="el-icon-delete"></i></span>
                    </div>
                </div>
                <div class="gallery__title" contenteditable ref="editInputText" @blur="updateInputText(i)" @click="editImage(i)">{{image.title}}</div>
            </div>
        </draggable>
        <div class="image-uploader my-4">
            <el-upload
                :headers="{ 'X-CSRF-TOKEN': token }"
                :multiple="true"
                :file-list="fileList"
                :show-file-list="false"
                :on-success="handleSuccess"
                :before-upload="beforeUpload"
                class="editor-slide-upload"
                :action="uploadUrl"
            >
                <i class="el-icon-plus image-uploader-icon"></i>
            </el-upload>
        </div>

        <el-dialog :visible.sync="dialogVisible" :title="dialogTitle">
            <img width="100%" :src="dialogImageUrl" alt="">
        </el-dialog>

    </div>
</template>

<script>
  import draggable from 'vuedraggable'
  export default {
    name: 'FieldGallery',
    components: {
      draggable,
    },
    props: {
      gallery: {
        type: Array,
        default: () => [],
      }
    },
    data() {
      return {
        listObj: {},
        fileList: [],
        token: window.token.content,

        dialogImageUrl: '',
        dialogTitle: '',
        dialogVisible: false,

        uploadUrl: '/api/gallery/upload', //on pixiko site
        isUpload: false,
        images: [],
        image: {
          'id': '',
          'url': '',
          'title': '',
          'alt': '',
          'order': '',
        },
      }
    },
    created() {
      Object.assign(this.images, this.gallery);
    },
    mounted() {
      /*setTimeout(()=>{

      })*/
    },
    methods: {
      updateGallery() {
        this.$emit('update', {gallery: this.images});
      },
      editImage(index) {
        this.$refs.editInputText[index].focus();
      },
      updateInputText(i) {
        this.images[i].title = this.$refs.editInputText[i].textContent;
      },
      checkAllSuccess() {
        return Object.keys(this.listObj).every(item => this.listObj[item].hasSuccess)
      },
      handleSuccess(response, file) {
        const uid = file.uid
        const objKeyArr = Object.keys(this.listObj)

        for (let i = 0, len = objKeyArr.length; i < len; i++) {
          if (this.listObj[objKeyArr[i]].uid === uid) {
            let title = file.name.split('.')[0];
            if(_.find(this.images, { 'url': response,})) return;
            this.images.push({
              url: response,
              title: title,
            });
            this.updateGallery();
            return
          }
        }
      },
      handleRemove(i) {
        this.images.splice(i, 1);
        this.updateGallery();
      },
      handlePictureCardPreview(i) {
        this.dialogImageUrl = '/'+this.images[i].url;
        this.dialogTitle = this.images[i].title;
        this.dialogVisible = true;
      },
      beforeUpload(file) {
        const _self = this
        const _URL = window.URL || window.webkitURL
        const fileName = file.uid
        this.listObj[fileName] = {}
        return new Promise((resolve, reject) => {
          const img = new Image()
          img.src = _URL.createObjectURL(file)
          img.onload = function() {
            _self.listObj[fileName] = { hasSuccess: false, uid: file.uid, width: this.width, height: this.height }
          }
          resolve(true)
        })
      }

    }
  }
</script>

<style lang="scss" scoped>
  .editor-slide-upload {
    margin-bottom: 20px;
  }
</style>
<style lang="scss">
    .editor-slide-upload {
        .el-upload--picture-card {
            width: 100%;
        }
    }
    button > i.el-icon-upload {
        font-size: 12px;
    }
    .gallery {
        display: flex;
        &__items {
            display: flex;
            flex-wrap: wrap;
            margin: 0 5px 0 -5px;
            .el-upload-list__item {
                width: 140px;
                height: 140px;
            }
        }
        &__item {
            width: 140px;
            margin: 0 5px;
            .el-upload-list__item-thumbnail {
                display: block;
                height: 140px;
                object-fit: cover;
            }
        }
        &__title {
            &:focus {
                padding: 0.5rem;
            }
        }
    }
</style>
