<template>
  <transition name="fade" mode="out-in">
    <router-view></router-view>
  </transition>
</template>

<script>
  import {mapActions} from 'vuex'
  export default {
    name: 'App',
    created() {
      this.getUser();
    },
    methods: {
      ...mapActions(['getUser']),
    }
  }
</script>

<style lang="scss">
  @import "../sass/app.scss";
</style>
