h1 {
    font-size: 1.5em;
    line-height: 1.2;
    margin: 0 0 15px;
}

body {
    margin: 0;
    font-family: Arial;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;

    &:focus, &:active {
        outline: none;
    }
}

.el-message {
    left: auto !important;
    right: 15px !important;
}

.el-form-item__label {
    font-weight: bold;
    font-size: 14px;
}


.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.mt-5,
.my-5 {
    margin-top: 2rem !important;
}

.mb-5,
.my-5 {
    margin-bottom: 2rem !important;
}

.el-row {
    margin: 0 -15px;
}

.el-col {
    padding: 0 15px;
}

.el-button {
    text-decoration: none;
}

.image-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.no-image {
    .el-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #f5f7fa;
        color: #909399;
        font-size: 40px;
    }
}
.image-uploader {
    .el-upload {
        display: flex;
        width: 140px;
        height: 140px;
        align-items: center;
        justify-content: center;
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        &:hover {
            border-color: #409EFF;
        }
    }
    &-icon {
        font-size: 28px;
        color: #8c939d;
        text-align: center;
    }
    .image-thumb {
        width: 140px;
        height: 140px;
        display: block;
    }
}
