:root {
  --theme-background-color: #171c1f;
  --theme-color: white;
  --theme-color-invert: #171c1f;

  --pad: 30px;
  --mpad: 50px;
}

@media (max-width: 768px) {
  :root {
    --pad: 30px;
    --mpad: 30px;
  }
}

// Body
$body-bg: #ffffff;
$body-color: #000000;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$color-blue: #0085b1;
$color-pink: #ed145f;
$color-grey: #626060;
$color-grey-light: #737373;

$case-width: 1000px;

$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1170px);

//$primary: $blue;
//$h1-font-size:                $font-size-base * 2.5 !default;
//$h2-font-size:                $font-size-base * 2 !default;
//$h3-font-size:                $font-size-base * 1.75 !default;
//$h4-font-size:                $font-size-base * 1.5 !default;
//$h5-font-size:                $font-size-base * 1.25 !default;
//$h6-font-size:                $font-size-base !default;

/*$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;*/

