<template>
  <el-menu class="el-menu"
           default-active="1"
           background-color="#545c64"
           text-color="#fff"
           active-text-color="#ffd04b"
           :collapse="isCollapse"
           :router="true"
  >
    <el-menu-item index="1" :route="{ name: 'admin'}" exact><i class="el-icon-s-home"></i><span>Панель</span></el-menu-item>
    <el-menu-item index="2" :route="{ name: 'admin.pages' }"><i class="el-icon-tickets"></i><span>Страницы</span></el-menu-item>
    <el-menu-item index="3" :route="{ name: 'admin.categories' }"><i class="el-icon-folder-opened"></i><span>Категории</span></el-menu-item>
    <el-menu-item index="4" :route="{ name: 'admin.posts' }"><i class="el-icon-document"></i><span>Посты</span></el-menu-item>
    <!--<el-menu-item index="5" :route="{ name: 'admin.templates' }"><i class="el-icon-office-building"></i><span>Шаблоны</span></el-menu-item>
    <el-menu-item index="6" :route="{ name: 'admin.fields' }"><i class="el-icon-takeaway-box"></i><span>Поля</span></el-menu-item>-->
  </el-menu>
</template>

<script>
  export default {
    props: ['isCollapse'],
    name: 'main-sidebar',
    data() {
      return {

      }
    },
    methods: {
      handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .el-menu-item i{
    color: white;
    font-size: 22px;
  }
  .el-aside {
    color: #333;
  }
  .el-menu:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
</style>
