<template>
  <el-header style="font-size: 24px; height: 50px">
    <button class="btn-toggle-menu" @click="$emit('toggleSidebar')"><i :class="isCollapse ? 'el-icon-s-unfold' : 'el-icon-s-fold'"/></button>
    <div class="right-menu">
        <span class="header__user_name">{{ user.name }}</span>
        <a class="el-button el-button--default" href="/api/logout"><span>Выход</span></a>
    </div>
  </el-header>
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    name: 'main-header',
    props: ['isCollapse'],
    data() {
      return {

      }
    },
    computed: {
      ...mapGetters(['user']),
    }
  }
</script>

<style type="scss" scoped>
  .header__user_name {
    font-size: 20px;
    margin-right: 15px;
    color: #5f5f5f;
  }
</style>
<style lang="scss">
  button > i {
    font-size: 22px;
  }
  .right-menu {
    float: right;
    height: 100%;
    display: flex;
      align-items: center;
  }
  .el-header {
    background-color: #B3C0D1;
    color: #333;
    line-height: 50px;
  }
</style>
