<template>
  <div>
    <el-row>
      <el-col :span="12"><h1>Категории</h1></el-col>
      <el-col :span="12">
        <div class="grid-content" align="right">
          <el-button v-if="newTree" type="primary" @click="saveOrder(newTree)">Сохранить сортировку</el-button>
          <el-button type="success" @click="$router.push({name: `admin.category.create`})">Создать</el-button>
        </div>
      </el-col>
    </el-row>
    <el-tree
      :data="categories"
      show-checkbox
      node-key="id"
      default-expand-all
      @node-drag-start="handleDragStart"
      @node-drag-enter="handleDragEnter"
      @node-drag-leave="handleDragLeave"
      @node-drag-over="handleDragOver"
      @node-drag-end="handleDragEnd"
      @node-drop="handleDrop"

      :props="treeProps"
      :expand-on-click-node="false"

      draggable>
      <span class="custom-tree-node" slot-scope="{ node, data }">
        <span :class="{inactive: !node.data.published}">{{ node.label }}</span>
        <span class="actions">
          <el-button type="primary" icon="el-icon-edit" circle @click="$router.push({name: `admin.category`, params:{ id: node.data.id}})">
          </el-button>
          <el-button type="danger" icon="el-icon-delete" circle @click="deleteCategory(node.data.id)">
          </el-button>
        </span>
      </span>
    </el-tree>
  </div>
</template>

<script>
  import orderingMixin from '../mixins/ordering.mixin'
  export default {
    mixins: [orderingMixin],
    data() {
      return {
        categories: [],
        treeProps: {
          children: 'children',
          label: 'title'
        },
      }
    },
    components: {
    },
    created() {
      this.fetchCategories();
    },
    methods: {
      fetchCategories() {
        axios.get(`/api/categories`)
          .then(res => {
            this.categories = res.data;
          })
          .catch(err => console.log(err))
      }, /*fetchCategories*/

      deleteCategory(id) {
        if (confirm('Удалить?')) {
          axios.delete(`/api/categories/${id}`)
            .then(res => {
              this.fetchCategories();
              this.$message.success({ showClose: true, message: 'Страница удалена'});
            })
            .catch((err) => { this.$message.error({ showClose: true, message: 'Ошибка' }); console.log(err); })
        }
      },
      saveOrder(newTree) {
        axios.post(`/api/categories/order`, {order: newTree})
          .then(res => {
            this.newTree = null;
            this.$message.success({ showClose: true, message: 'Порядок сохранен'});
          })
          .catch((err) => { this.$message.error({ showClose: true, message: 'Ошибка' }); console.log(err); })
      },

      handleDragStart(node, ev) {
        console.log('drag start', node);
      },
      handleDragEnter(draggingNode, dropNode, ev) {
        console.log('tree drag enter: ', dropNode.label);
      },
      handleDragLeave(draggingNode, dropNode, ev) {
        console.log('tree drag leave: ', dropNode.label);
      },
      handleDragOver(draggingNode, dropNode, ev) {
        console.log('tree drag over: ', dropNode.label);
      },
      handleDragEnd(draggingNode, dropNode, dropType, ev) {
        this.newOrder(draggingNode.store.root.childNodes);
      },
      handleDrop(draggingNode, dropNode, dropType, ev) {
        console.log('tree drop: ', dropNode.label, dropType);
      },
      /*allowDrop(draggingNode, dropNode, type) {
        if (dropNode.data.label === 'Level two 3-1') {
          return type !== 'inner';
        } else {
          return true;
        }
      },
      allowDrag(draggingNode) {
        return draggingNode.data.label.indexOf('Level three 3-1-1') === -1;
      }*/
    }
  }
</script>

<style lang="scss">
  .inactive {
    color: #a7a7a7 !important;
  }
  .el-tree-node {
    margin: 5px 0;
  }

  .actions {
    padding-left: 5px;
    > button {
      padding: 4px !important;
    }
    i {
      font-size: 14px;
    }
  }
</style>

