<template>
    <div>
        <el-row>
            <el-col :span="12">
                <div class="grid-content"><h1>{{ category.title }}</h1></div>
            </el-col>
            <el-col :span="12">
                <div class="grid-content" align="right">
                    <el-button type="success" @click="saveCategory">Сохранить</el-button>
                    <el-button type="danger" v-if="isEdit" @click="deleteCategory">Удалить</el-button>
                    <el-button type="info" @click="cancelCategory">Отмена</el-button>
                </div>
            </el-col>
        </el-row>

        <el-tabs v-model="activeTab">
            <el-tab-pane label="Общие" name="general">
                <category-general-edit :category="category" :save="save" @save="saveCategory" @success="errors = null"  @error="showErrors" />
            </el-tab-pane>

            <el-tab-pane label="Посты" name="posts">
                Посты
            </el-tab-pane>

        </el-tabs>
    </div>
</template>

<script>
  import CategoryGeneralEdit from '../components/CategoryGeneralEdit'
  export default {
    components: {
      CategoryGeneralEdit,
    },
    data() {
      return {
        fromUrl: null,
        isEdit: false,
        errors: null,
        save: false,
        activeTab: 'general',
        category: {
          id: 0,
          title: '',
          parent_id: null,
          description: '',
          published: 1,
        },
      }
    },
    created() {
      this.fromUrl = this.$route.query.fromUrl;
      if(this.$route.params.id) {
        this.isEdit = true;
        this.fetchCategory();
      }
    },
    methods: {
      fetchCategory() {
        axios.get(`/api/categories/${this.$route.params.id}`)
          .then(res => {
            this.category = res.data;
          })
          .catch((err) => { this.$message.error({ showClose: true, message: 'Ошибка'}); console.log(err); })
      },
      showErrors(errors) {
        this.errors = errors;
        let message = this.errors.join('<br>');
        this.$message.error({ showClose: true, message, dangerouslyUseHTMLString: true});
        console.log(errors);
      },
      goAway(message = null) {
        if(!this.fromUrl) this.$router.push({name: 'admin.categories'});
        else window.location.href = this.fromUrl;
        if(message) this.$message.success({ showClose: true, message});
      },
      saveCategory() {
        this.save = true;
        setTimeout(()=>{
          if(this.errors) this.save = false;
          else {
            if (this.isEdit) this.updateCategory();
            else this.createCategory();
          }
        },0)

      },
      updateCategory() {
        axios.put(`/api/categories`, this.category)
          .then(res => {
            this.goAway('Категория обновлена');
          })
          .catch((err) => { this.$message.error({ showClose: true, message: 'Ошибка' }); console.log(err); })
      },
      createCategory() {
        axios.post(`/api/categories`, this.category)
          .then(res => {
            this.goAway('Страница создана');
          })
          .catch((err) => { this.$message.error({ showClose: true, message: 'Ошибка' }); console.log(err); })
      },
      deleteCategory() {
        if (confirm('Удалить?')) {
          axios.delete(`/api/categories/${this.category.id}`)
            .then(res => {
              this.goAway('Страница удалена');
            })
            .catch((err) => { this.$message.error({ showClose: true, message: 'Ошибка' }); console.log(err); })
        }
      },
      cancelCategory() {
        this.goAway();
      },
    }
  }
</script>

<style lang="scss" scoped>

</style>

