<template>
  <main class="content py-4">
    <div class="container">
      <h1>Панель управления</h1>
    </div>
  </main>
</template>

<script>
  //import Profile from './Profile';
  export default {

    data() {
      return {

      }
    },
    components: {
      //Profile
    },
    created() {

    },
    methods: {

    }
  }
</script>

<style lang="scss" scoped>

</style>

