<template>
    <div>
        <el-row>
            <el-col :span="12">
                <div class="grid-content"><h1>{{ post.title }}</h1></div>
            </el-col>
            <el-col :span="12">
                <div class="grid-content" align="right">
                    <el-button type="success" @click="savePost">Сохранить</el-button>
                    <el-button type="danger" v-if="isEdit" @click="deletePost">Удалить</el-button>
                    <el-button type="info" @click="cancelPost">Отмена</el-button>
                </div>
            </el-col>
        </el-row>

        <el-tabs v-model="activeTab">

            <el-tab-pane label="Общие" name="general">
                <post-general-edit :post="post" :save="save" @save="savePost" @success="errors = null"
                                   @error="showErrors" @changeTemplate="changeTemplate"/>
            </el-tab-pane>
            <el-tab-pane label="Seo" name="seo">
                <post-seo-edit :meta-title.sync="post.meta_title" :meta-keys.sync="post.meta_keys"
                               :meta-desc.sync="post.meta_desc"/>
            </el-tab-pane>

            <el-tab-pane v-for="tab in templateTabs" :label="tab.title" :name="tab.name" :key="tab.id">
                <component :is="'field-'+tab.type" :gallery="post.gallery" @update="updateTabComponent"></component>
            </el-tab-pane>

            <el-tab-pane label="Параметры" name="parameters">
                <post-fields :template="post.template_id" :fields="post.fields" @update="updateFields" />
            </el-tab-pane>

        </el-tabs>
    </div>
</template>

<script>
  import PostGeneralEdit from '../components/PostGeneralEdit'
  import PostSeoEdit from '../components/PostSeoEdit'
  import PostFields from '../components/PostFields'
  import FieldGallery from '../components/Fields/FieldGallery'
  export default {
    data() {
      return {
        activeTab: 'general',
        //activeTab: 'parameters',
        fromUrl: null,
        isEdit: false,
        errors: null,
        save: false,
        post: {
          id: 0,
          type: 'blog',
          template_id: 2,
          fields: [],
          published: 1,
          categories:[],
        },
        templateTabs: [],
      }
    },
    components: {
      PostGeneralEdit,
      PostSeoEdit,
      PostFields,
      FieldGallery,
    },
    created() {
      this.fromUrl = this.$route.query.fromUrl;
      if(this.$route.params.id) {
        this.isEdit = true;
        this.fetchPost();
      }
      else {
        switch (this.post.type) {
          case 'page' :
          {
            this.post.template_id = 1;
            break;
          }
          case 'blog' :
          {
            this.post.template_id = 2;
            break;
          }
          default :
          {
            this.post.template_id = 1;
            break;
          }
        }

        this.fetchTemplateTabs(1);
      }
    },
    methods: {
      fetchPost() {
        axios.get(`/api/posts/blog/${this.$route.params.id}`)
          .then(res => {
            this.fetchTemplateTabs(res.data.template_id);
            this.post = res.data;
          })
          .catch((err) => { this.$message.error({ showClose: true, message: 'Ошибка'}); console.log(err); })
      },
      updateFields(field) {
        const changeField = this.post.fields.find(v => v.id === field.id);
        if(changeField) {
          if(field.value) changeField.value = field.value;
          else this.post.fields.splice(_.findIndex(this.post.fields, {id: field.id}), 1); return;
        }
        else this.post.fields.push({id: field.id, value: field.value});
      },
      changeTemplate(id) {
        this.post.template_id = id;
        this.fetchTemplateTabs(id);
      },
      fetchTemplateTabs(template) {
        axios.get(`/api/templates/${template}/tabs`)
          .then(res => {
            this.templateTabs = res.data;
          })
          .catch((err) => { this.$message.error({ showClose: true, message: 'Ошибка'}); console.log(err); })
      },
      updateTabComponent(data) {
        Object.assign(this.post, data);
      },
      showErrors(errors) {
        this.errors = errors;
        let message = this.errors.join('<br>');
        this.$message.error({ showClose: true, message, dangerouslyUseHTMLString: true});
        console.log(errors);
      },
      goAway(message = null) {
        if(!this.fromUrl) this.$router.push({name: 'admin.posts'});
        else window.location.href = this.fromUrl;
        if(message) this.$message.success({ showClose: true, message});
      },
      savePost() {
        this.save = true;
        setTimeout(()=>{
          if(this.errors) this.save = false;
          else {
            if (this.isEdit) this.updatePost();
            else this.createPost();
          }
        },0)

      },
      updatePost() {
        axios.put(`/api/posts`, this.post)
          .then(res => {
            this.goAway('Страница обновлена');
          })
          .catch((err) => { this.$message.error({ showClose: true, message: 'Ошибка' }); console.log(err); })
      },
      createPost() {
        axios.post(`/api/posts`, this.post)
          .then(res => {
            this.goAway('Страница создана');
          })
          .catch((err) => { this.$message.error({ showClose: true, message: 'Ошибка' }); console.log(err); })
      },
      deletePost() {
        if (confirm('Удалить?')) {
          axios.delete(`/api/posts/${this.post.id}`)
            .then(res => {
              this.goAway('Страница удалена');
            })
            .catch((err) => { this.$message.error({ showClose: true, message: 'Ошибка' }); console.log(err); })
        }
      },
      cancelPost() {
        this.goAway();
      },
    }
  }
</script>

<style lang="scss" scoped>

</style>

