<template>
  <main class="content py-4">
    <div class="container">
      <el-row>
        <el-col :span="12"><h1>Статьи</h1></el-col>
        <el-col :span="12">
          <div class="grid-content" align="right">
            <el-button type="success" @click="$router.push({name: `admin.post.create`})">Создать</el-button>
          </div>
        </el-col>
      </el-row>
      <el-table
        :data="posts.filter(data => !search || data.title.toLowerCase().includes(search.toLowerCase()))"
        style="width: 100%">
        <el-table-column
          label="Дата создания"
          prop="created">
        </el-table-column>
        <el-table-column
          label="Дата редактирования"
          prop="updated">
        </el-table-column>
        <el-table-column
          label="Заголовок"
          prop="title">
        </el-table-column>
        <el-table-column
          prop="categories"
          label="Категории"
          width="200"
          >
          <template slot-scope="scope">
            <el-link type="primary" style="margin-right: 10px;" v-for="category in scope.row.categories" :key="category.id" @click="$router.push({name: `admin.category`, params:{ id: category.id}})">{{category.title}}</el-link>
          </template>
        </el-table-column>

        <el-table-column
          align="right">
          <template slot="header" slot-scope="scope">
            <el-input
              v-model="search"
              size="mini"
              placeholder="Поиск"/>
          </template>
          <template slot-scope="scope">
            <el-button
              size="mini"
              @click="$router.push({name: `admin.post`, params:{ id: scope.row.id}})">Редактировать</el-button>
            <el-button
              size="mini"
              type="danger"
              @click="handleDelete(scope.row.id)">Удалить</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </main>
</template>

<script>
  //import Profile from './Profile';
  export default {

    data() {
      return {
        posts: [

        ],
        search: '',
      }
    },
    components: {

    },
    created() {
      this.fetchPosts();
    },
    methods: {
      fetchPosts() {
        axios.get(`/api/posts/blog/listall`)
          .then(res => {
            this.posts = res.data;
          })
          .catch(err => console.log(err))
      },


      handleEdit(index, row) {
        console.log(index, row);
      },
      handleDelete(id) {
        if (confirm('Удалить?')) {
          axios.delete(`/api/posts/${id}`)
            .then(res => {
              this.fetchPosts();
              this.$message.success({ showClose: true, message: 'Статья удалена'});
            })
            .catch((err) => { this.$message.error({ showClose: true, message: 'Ошибка' }); console.log(err); })
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>

