<template>
  <div>
      <el-form label-width="125px" label-position="left">
          <el-form-item label="Meta Title">
              <div class="el-input">
                  <input type="text" class="el-input__inner" autocomplete="off" :value="metaTitle" @input="$emit('update:metaTitle', $event.target.value)">
              </div>
          </el-form-item>
          <el-form-item label="Meta Keywords">
              <div class="el-input">
                  <input type="text" class="el-input__inner" autocomplete="off" :value="metaKeys" @input="$emit('update:metaKeys', $event.target.value)">
              </div>
          </el-form-item>
          <el-form-item label="Meta Description">
              <div class="el-input">
                  <input type="text" class="el-input__inner" autocomplete="off" :value="metaDesc" @input="$emit('update:metaDesc', $event.target.value)">
              </div>
          </el-form-item>
      </el-form>
  </div>
</template>

<script>
  export default {
    name: 'PostSeoEdit',
    props: ['metaTitle', 'metaKeys', 'metaDesc'],
    data() {
      return {
      }
    },
  }
</script>

<style>

</style>
