<template>
  <el-form :ref="formName" :model="post" label-width="120px" label-position="left">
    <el-row>
      <el-col :span="12">

        <el-form-item
          label="Заголовок"
          prop="title"
          :rules="[
            { required: true, message: 'Заголовок обязателен для заполнения'},
            { min:2, message: 'Заголовок должен быть не менее 2х символов'}
          ]"
        >
          <el-input v-model="post.title" autocomplete="off"></el-input>
        </el-form-item>

        <el-form-item label="Url"
                      prop="url"
                      :rules="[
                      { min:2, message: 'Url должен быть не менее 2х символов'}
                      ]"
        >
          <el-input v-model="post.url" autocomplete="off"></el-input>
        </el-form-item>

        <el-form-item label="Шаблон"
                      prop="template_id"
                      :rules="[
                      { required: true, message: 'Шаблон обязателно должен быть выбран'},
                      ]"
        >
          <el-select v-model="post.template_id" placeholder="Шаблон" @change="$emit('changeTemplate', post.template_id)">
            <el-option
              v-for="template in templates"
              :key="template.id"
              :label="template.title"
              :value="template.id">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="Родитель" v-if="post.type == 'page'">
          <el-select v-model="post.parent_id" placeholder="Родительская страница">
            <el-option
              v-for="page in parents"
              :key="page.id"
              :label="page.title"
              :value="page.id">
            </el-option>
          </el-select>
        </el-form-item>

      </el-col>
      <el-col :span="12">

        <el-row>
          <el-col :span="8">
            <div class="image-uploader">
              <el-upload
                class=""
                :action="uploadUrl"
                :headers="{ 'X-CSRF-TOKEN': token }"
                :show-file-list="false"
                :on-success="handleImageSuccess"
                :before-upload="beforeImageUpload">
                <img v-if="post.image" :src="'/'+post.image" class="image-thumb">
                <i v-else class="el-icon-plus image-uploader-icon"></i>
              </el-upload>
              <div v-if="post.image" class="el-upload-list__item-actions">
                      <span class="el-upload-list__item-preview" @click="handlePictureCardPreview('/'+post.image)"><i
                        class="el-icon-zoom-in"></i></span>
                <span class="el-upload-list__item-delete" @click="handleRemove"><i
                  class="el-icon-delete"></i></span>
              </div>
              <el-dialog :visible.sync="dialogVisible">
                <img width="100%" :src="dialogImageUrl" alt="">
              </el-dialog>
            </div>
            <label class="el-form-item__label" style="padding-left: 5px;">Изображение</label>
          </el-col>

          <el-col :span="16">
            <el-switch
              v-model="post.published"
              :active-value="1"
              :inactive-value="0"
              active-text="Опубликовать"
            >
            </el-switch>

            <el-form-item v-if="post.type != 'page'" label="Категории" class="mt-5">
              <el-select v-model="post.categories" multiple placeholder="Выбрать">
                <el-option
                  v-for="item in categoriesList"
                  :key="item.id"
                  :label="item.title"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

      </el-col>
    </el-row>

    <div class="mt-4">
      <tinymce v-model="post.content" :height="300" />
    </div>

    <div class="mt-4">
      <el-button type="success" @click="submitForm">Сохранить</el-button>
    </div>

  </el-form>

</template>

<script>
  import Tinymce from '../components/Tinymce'
  import {selectTree} from '../helpers/selectTree'
  export default {
    name: 'PostGeneralEdit',
    props: {
      post: {
        id: Number,
        title: String,
        categories: {
          type: Array,
          default: () => [],
        }
      },
      save: Boolean,
    },
    components: {
      Tinymce
    },
    data() {
      return {
        templates:[],
        dialogImageUrl: '',
        dialogVisible: false,
        uploadUrl: '/api/upload/image',

        errors: null,
        formName:  'postForm',
        token: window.token.content,

        treeProps: {
          children: 'children',
          label: 'title'
        },

        parents: [],
        //categories: [],
        categoriesList: [],
      }
    },
    created() {
      setTimeout(()=>{
        this.fetchTemplates();
        if(this.post.type =='page') this.fetchPages();
        else this.fetchCategories();
      })
    },
    methods: {
      fetchPages() {
        axios.get(`/api/posts/page/list`)
          .then(res => {
            this.parents = selectTree(res.data, this.post.id, 'Корень сайта');
          })
          .catch(err => console.log(err))
      },
      fetchCategories() {
        axios.get(`/api/categories/list`)
          .then(res => {
            const catList = selectTree(res.data, this.post.id, '', []);
            this.categoriesList = catList;
          })
          .catch(err => console.log(err))
      },
      fetchTemplates() {
        axios.get(`/api/templates/list`)
          .then(res => {
            this.templates = res.data;
          })
          .catch((err) => { this.$message.error({ showClose: true, message: 'Ошибка'}); console.log(err); })
      },
      checkFormOnSave() {
        this.$refs[this.formName].validate((valid, messages) => {
          if (valid) {
            this.$emit('success');
            return false;
          }
          else {
            if(messages) {
              this.errors = [];
              _.forEach(messages, (value, key) => {
                this.errors.push(value.map(v => v.message));
              });
            }
            this.$emit('error', this.errors);
            return false;
          }
        });
      },
      submitForm() {
        this.$emit('save');
      },
      handleImageSuccess(res) {
        this.post.image = res;
      },
      beforeImageUpload(file) {
        const isJPG = file.type === 'image/jpeg';
        const isLt2M = file.size / 1024 / 1024 < 2;

        if (!isJPG) {
          this.$message.error('Файл должен быть формата JPG!');
        }
        if (!isLt2M) {
          this.$message.error('Размер файла превышает 2MB!');
        }
        return isJPG && isLt2M;
      },

      handleRemove() {
        this.post.image = null;
      },
      handlePictureCardPreview(file) {
        this.dialogImageUrl = file;
        this.dialogVisible = true;
      },

    },
    watch: {
      save(newSave, oldSave) {
        if(newSave) this.checkFormOnSave();
      }
    }
  }
</script>

<style lang="scss" scoped>
    .no-image {
        width: 140px;
        height: 140px;
        cursor: pointer;
    }
</style>

<style lang="scss">
    .el-upload--picture-card {
        width: 140px;
        height: 140px;
    }
    .image-uploader {
        width: 140px;
        height: 140px;
        position: relative;
        &:hover {
            .el-upload-list__item-actions {
                opacity: 1;
            }
        }
    }

    .el-upload-list__item-actions {
        opacity: 0;
        transition: 0.3s;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 20px;
        background-color: rgba(0,0,0,0.4);
        border-radius: 6px;
        >span, >div {
            display: block;
            position: static;
            margin: 0 8px;
            color: inherit;
            font-size: inherit;
            cursor: pointer;
            &:hover {
                color: #409EFF;
            }
        }
    }
</style>
