<template>
    <div>
        <el-form :ref="formName" label-width="140px" label-position="left">
            <div v-for="field in templateFields" :key="field.id">
                <component :is="'field-'+field.type" :field="field" @update="updateField"></component>
            </div>
        </el-form>
    </div>
</template>

<script>
  import FieldText from '../components/Fields/FieldText'

  export default {
    name: 'PostFields',
    props: ['template', 'fields'],
    components: {
      FieldText,
    },
    data() {
      return {
        formName: 'postFields',
        templateFields: [],
      }
    },
    created() {
      setTimeout(() => {
        this.fetchTemplateFields();
      }, 0)
    },
    methods: {
      fetchTemplateFields() {
        axios.get(`/api/templates/${this.template}/fields`)
          .then(res => {
            this.templateFields = res.data.map(f => {
              const val = this.fields.find(v => v.id === f.id);
              return {
                ...f,
                value: val ? val.value : '',
              }
            });
          })
          .catch((err) => {
            this.$message.error({showClose: true, message: 'Ошибка'});
            console.log(err);
          })
      },
      updateField(field) {
        this.$emit('update', field);
      },
    },
    watch: {
      template(newTemplate, oldTemplate) {
        if (newTemplate) this.fetchTemplateFields();
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>

<style lang="scss">

</style>
