<template>
  <el-container style="height: 100vh; border: 1px solid #eee">
    <main-sidebar :isCollapse="isCollapse"/>
    <el-container class="is-vertical">
      <main-header :isCollapse="isCollapse" @toggleSidebar="isCollapse = !isCollapse"/>
      <el-main>
        <transition name="el-fade-in" mode="out-in">
          <router-view></router-view>
        </transition>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
  import MainSidebar from '../partials/MainSidebar'
  import MainHeader from '../partials/MainHeader'
  export default {
    components: { MainSidebar, MainHeader },
    data() {
      return {
        isCollapse: false,
      }
    },
    created() {
      /*this.$store.dispatch('settings/getSettings');
      if(this.$store.state.user.token) {
        axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.user.token;
      }*/
    },
    mounted() {

    },
    methods: {

    }
  }
</script>
